// to view available variables view
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

$enable-gradients: true;
$enable-transitions: true;
$enable-shadows: true;

$font-size-root: 18px;
//$nav-item-inline-spacer: 2rem;
$navbar-border-radius: 0;

$navbar-padding-y: 0;

$navbar-brand-margin-y: 0.74rem;

$navbar-item-padding-y: 0;
$navbar-item-padding-x: 0;
$navbar-item-margin-y: 0;
$navbar-item-margin-x: 0;

$navbar-link-padding-y: 1rem;
$navbar-link-padding-x: 1rem;
