
.app-people-plus-container {
  background: $app-gradient-green;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .5ch;
  color: white;
  font-weight: bold;
  padding-left: 4px;
}

.app-people-name {
  color: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
}

.app-people-name:hover {
  color: inherit;
}

.app-people-name:visited {
  color: inherit;
  text-decoration: none;
}