
.app-subnavbar {
  font-size: 0.9rem;
  z-index: 1000;

  .dropdown-item {
    font-size: 0.9rem;
  }

  .nav-link {
    //padding: $navbar-link-padding-y/1.5 $navbar-link-padding-x;
    padding: 0.75rem 1rem;
  }

  .navbar-nav .active > .nav-link {
    box-shadow: 0 1px 0 $app-color-amber;
    border-bottom: 1px solid $app-color-amber;
  }
}

svg.app-subnavbar-menu-icon {
  width: 17px;
  height: 10px;
  margin-top: 15px;
  margin-right: 8px;
  fill: $app-color-grey;

  &:hover, &.active {
    fill: $app-color-grey-dark;
  }
}

@include media-breakpoint-down(md) {

  .app-subnavbar {
    font-size: 0.75rem;

    .dropdown-item {
      font-size: 0.75rem;
    }

    .nav-link {
      //padding: $navbar-link-padding-y/1.5 $navbar-link-padding-x;
      padding: 0.5rem 0.75rem;
    }
  }

}
