.app-follow {
  overflow: hidden;
  white-space: nowrap;
}

.app-follow-title {
  font-size: 1.4rem;
}

.app-follow-blocks {
  position: relative;
}
.app-follow-matched-block {
  width: 14%;
  height: 10rem;
  display: inline-block;
}

.app-follow-photo {
  border-radius: 50%;
  border: 1px solid rgba(204, 206, 205, 50);
  width: 6rem;
  height: 6rem;
}

.app-follow-user-name {
    margin-top: 2rem;
}

.app-follow-shadow {
  position: absolute;
  top: 0;
  right: 0;
  height: 12rem;
  width:13rem;
  box-shadow: inset -10rem 0 10rem -2rem #FFF;
}

@include media-breakpoint-down(md) {
  .app-follow-matched-block {
    width: 40%;
  }
}

@include media-breakpoint-down(xsm) {
  .app-follow-matched-block {
    width: 50%;
  }
}