.app-new-reviews {
  background-color: $app-color-grey-lightest;
  @include app-section-x();
  overflow: hidden;
}

.app-new-reviews-link-grey .app-new-reviews-link-grey:visited, .app-new-reviews-link-grey:focus {
  text-decoration: none;
  color: $app-color-grey;
}

.app-new-reviews-photo {
  width: 3.5rem;
  border-radius: 50%;
}

.app-new-reviews-top-title {
  font-size: 1.333rem;
  font-weight: $app-promo-title-weight;
}

.app-new-reviews-top-step {
  font-size: 1.333rem;
  font-weight: $app-promo-title-weight;
  text-align: right;
}

.app-new-reviews-form-radio input {
  position: relative;
  right: .8rem;
  top: .2rem;
}

.app-new-reviews-form label {
  text-align: right;
}

.app-new-reviews-form-search-icon {
  fill: $app-color-grey;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: bottom;
  margin-right: 1rem;
}

.app-new-reviews-form-menu {
  vertical-align: middle;
  background-color: $app-color-green-front;
}

.app-new-reviews-form-menu .active {
  border-bottom: 2px solid $app-color-amber;
}


.app-new-reviews-form-icon {
  fill: $app-color-green-light;
  position: absolute;
  top: $input-padding-y - .45rem;
  right: $input-padding-y + .85rem;
  height: 2rem;
  width: 1.5rem;
}

.app-new-activity-select-arrow::after {
  content: "";
  border-top: 0.3em solid $app-color-grey-dark;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 45%;
  right: 30px;
}

.app-new-reviews-form-preview img {
  width: 50%;
  margin: 1rem 1rem 1rem 26%;
}

.app-activity-p-l-3 {
  padding-left: 3rem !important;
}

.app-new-reviews-hidden-upload {
  width: 8.5rem;

}

.app-new-reviews-hide-input {
  display: inline-block;
  z-index: 3000;
  position:relative;
  right: 145px;
  width: 10rem;
}

@include media-breakpoint-down(md) {
  .app-new-reviews-radio-padding {
    padding-left: 2rem !important;
  }

  .app-new-reviews-form label {
    text-align: left;
  }
}

@include media-breakpoint-down(xsm) {
  .app-new-reviews {
    padding-left: 0;
    padding-right: 0;
  }

  .app-new-reviews-hide-input {
    right: 0;
    top: -1.8rem;
    width: 100%;
  }

}
